* {
    margin: 0;
    padding: 0;
}

.kosi {
    height: 5px;




}

.back {
    background-color: white;
    background-color: sandybrown;
}

.icon {
    width: 100px;
    float: left;
    height: 10px;

}


.mine {
    float: left;
    height: 80px;


}


.mine ul {
    display: flex;
    list-style: none;
    justify-content: center;
    float: left;
    margin-left: 460PX;


}

.mine ul li {

    font-size: 15px;
    list-style: none;
    margin-left: 40px;
    margin-top: 18px;


}

.mine ul a {
    color: orange;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}


.drop-down {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    position: absolute;
    z-index: 100;
    color: black;
    line-height: 30px;
    background-color: transparent;
    margin-left: -27px;
}

.active:hover .drop-down {
    display: block;
}

.menue-bar {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    position: absolute;
    z-index: 100;
    color: black;
    line-height: 30px;
    background-color: transparent;
    margin-left: -15px;

}

.contact-us {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    position: absolute;
    z-index: 100;
    color: black;
    line-height: 30px;
    background-color: transparent;
    margin-left: -8px;
}

.History {
    margin-left: 12px;
    margin-top: -14px;
}

.goto {
    margin-left: 12px;
}

.whatsap {
    margin-left: 5px;
}

.phone {
    margin-left: 7px;
}

.phone {
    display: block;
}

.contact:hover .contact-us {
    display: block;
}

.us:hover .menue-bar {
    display: block;
}

li a:hover {
    color: white;
}

.serch {
    float: right;
    width: 290px;
    margin-top: 10px;


}

.src {
    font-family: 'Times New Roman';
    width: 150px;
    height: 32px;
    background: transparent;
    border: 1px solid orange;
    margin-top: 0px;
    color: white;
    border-right: none;
    font-size: 16px;
    padding: 2px;
    float: left;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}



.boot {
    width: 70px;
    height: 30px;
    background: orange;
    border: 2px solid orange;
    margin-top: 0px;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman';
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.boot:focus {
    outline: none;
}

.src:focus {
    outline: none;
}

.content {
    width: 450px;
    color: wheat;

    padding-left: -30px;
    margin-left: 0px;
    background-color: black;
    padding-right: 890px;
    margin-top: 71px;
    list-style: none;
    
}

.content li {
    font-size: 10px;

    /* line-height: 1px; */
    margin-top: 12px;
    margin-left: 20px;
    color: wheat;
    list-style: none;

}

.content h4 {
    font-size: 15px;
    font-family: 'Times New Roman';
    padding-left: 30px;
    letter-spacing: 3px;
    line-height: 70px;


}

.content h5 {
    font-size: 13px;
    margin-top: -13px;
    color: white;
    padding-left: 100px;
    line-height: 0px;
}


body {
    background: linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.616)), url(istockphoto-537241730-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;

}

h1 {
    /* display: block; */
    color: orange;
    font-size: 60px;
    font-weight: bolder;
    margin-right: 10px;

}

h2 {

    color: blue;
    font-size: 50px;
    font-weight: bolder;
    margin-right: 100px;

}

h3 {
    font-size: 27px;
    padding-left: 20px;
    padding-top: 10px;
    color: white;

}

.loggo {
    float: right;
    margin-right: 20px;


}

.heading {

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 150vh;
    justify-content: center;
    flex-direction: column;
    margin-left: 136px;
    margin-top: 330px;
    font-size: 20px;
}

.heading div:nth-last-of-type(2) div {
    display: inline-block;
}

.oGM {
    color: white;
    font-weight: 4px;
    margin-left: -64px;
    padding-left: 30px;

}
@media only screen and (max-width: 600px) {
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.616)), url(istockphoto-537241730-612x612.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
        min-height: 100vh;
    
    }  
    * {
        margin: 0;
        padding: 0;
    }
    
    .kosi {
        height: 5px;
    
    
    
    
    }
    
    .back {
        background-color: white;
        background-color: sandybrown;
    }
    
    .icon {
        width: 60px;
        float: left;
        height: 10px;
        margin-top: -30px;
    
    }
    
    
    .mine {
        float: left;
        height: 22px;
    
    
    }
    
    
    .mine ul {
        display: flex;
        list-style: none;
        justify-content: center;
        float: left;
        margin-left: 38PX;
    
    
    }
    
    .mine ul li {
    
        font-size: 7px;
        list-style: none;
        margin-left: 17px;
        margin-top: -15px;
    
    
    }
    
    .mine ul a {
        color: orange;
        font-family: Arial;
        font-weight: bold;
        transition: 0.4s ease-in-out;
    }
    
    
    .drop-down {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        position: absolute;
        z-index: 100;
        color: black;
        line-height: 30px;
        background-color: transparent;
        margin-left: -27px;
    }
    
    .active:hover .drop-down {
        display: block;
    }
    
    .menue-bar {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        position: absolute;
        z-index: 100;
        color: black;
        line-height: 30px;
        background-color: transparent;
        margin-left: -15px;
    
    }
    
    .contact-us {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        position: absolute;
        z-index: 100;
        color: black;
        line-height: 30px;
        background-color: transparent;
        margin-left: -8px;
    }
    
    .History {
        margin-left: 12px;
        margin-top: -14px;
    }
    
    .goto {
        margin-left: 12px;
    }
    
    .whatsap {
        margin-left: 5px;
    }
    
    .phone {
        margin-left: 7px;
    }
    
    .phone {
        display: block;
    }
    
    .contact:hover .contact-us {
        display: block;
    }
    
    .us:hover .menue-bar {
        display: block;
    }
    
    li a:hover {
        color: white;
    }
    
    .serch {
        float: right;
        width: 110px;
        margin-top: -20px;
    
    
    }
    
    .src {
        font-family: 'Times New Roman';
        width: 70px;
        height: 22px;
        background: transparent;
        border: 1px solid orange;
        margin-top: 0px;
        color: white;
        border-right: none;
        font-size: 9px;
        padding: 2px;
        float: left;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    
    
    
    .boot {
        width: 37px;
        height: 21px;
        background: orange;
        border: 2px solid orange;
        margin-top: 0px;
        color: white;
        font-size: 8px;
        font-family: 'Times New Roman';
        border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .boot:focus {
        outline: none;
    }
    
    .src:focus {
        outline: none;
    }
    
    .content {
        width: 250px;
        color: wheat;
        padding-right: 60px;
        padding-left: -30px;
        margin-left: 0px;
        margin-top: 10px;
        
    
    }
    
    .par  li {
        font-size: 10px;
    
        line-height: 0px;
        margin-top: 42px;
        margin-left: 10px;
        color: wheat;
    } 
    
    .content h4 {
        font-size: 15px;
        font-family: 'Times New Roman';
        padding-left: 20px;
        letter-spacing: 1px;
        line-height: 23px;
      
    
    
    }
    
    .content h5 {
        font-size: 10px;
        margin-top: 0px;
        color: white;
        padding-left: 60px;
        line-height: 0px;
    }
    
    

    h1 {
        /* display: block; */
        color: orange;
        font-size: 30px;
        font-weight: bolder;
        margin-left: 320px;
        margin-top: -74px;
    
    }
    
    h2 {
    
        color: blue;
        font-size: 29px;
        font-weight: bolder;
        margin-left: 470px;
        margin-top: -73px;
    
    }
    
    h3 {
        font-size: 15px;
        margin-left: 700px;
        padding-top: 10px;
        color: white;
    
    }
    
    .loggo {
        float: right;
        margin-right: 20px;
    
    
    }
    
    .heading {
    
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100px;
        width: 100px;
        justify-content: center;
        flex-direction: column;
        margin-left: 50px;
        margin-top: 210px;
        font-size: 10px;
    }
    
    .heading div:nth-last-of-type(2) div {
        display: inline-block;
    }
    
    .oGM {
        color: white;
        font-weight: 4px;
        margin-left: 64px;
       width: -40px;
    }
}
@media only screen and (max-width:  412px) {
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.616)), url(istockphoto-537241730-612x612.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
        min-height: 30vh;
    
    }  
    * {
        margin: 0;
        padding: 0;
    }
    
    .kosi {
        height: 5px;
    
    
    
    
    }
    
    .back {
        background-color: white;
        background-color: sandybrown;
    }
    
    .icon {
        width: 50px;
        float: left;
        height: 10px;
        margin-top: 10px;
    
    }
    
    
    .mine {
        float: left;
        height: 12 px;
    
    
    }
    
    
    .mine ul {
        display: flex;
        list-style: none;
        justify-content: center;
        float: left;
        margin-left: -15px;
    
    
    }
    
    .mine ul li {
    
        font-size: 10px;
        list-style: none;
        margin-left: 9px;
        margin-top: 25px;
    
    
    }
    
    .mine ul a {
        color: orange;
        font-family: Arial;
        font-weight: bold;
        transition: 0.4s ease-in-out;
    }
    
    
    .drop-down {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        position: absolute;
        z-index: 100;
        color: black;
        line-height: 30px;
        background-color: transparent;
        margin-left: -27px;
    }
    
    .active:hover .drop-down {
        display: block;
    }
    
    .menue-bar {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        position: absolute;
        z-index: 100;
        color: black;
        line-height: 30px;
        background-color: transparent;
        margin-left: -15px;
    
    }
    
    .contact-us {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        position: absolute;
        z-index: 100;
        color: black;
        line-height: 30px;
        background-color: transparent;
        margin-left: -8px;
    }
    
    .History {
        margin-left: 12px;
        margin-top: -14px;
    }
    
    .goto {
        margin-left: 12px;
    }
    
    .whatsap {
        margin-left: 5px;
    }
    
    .phone {
        margin-left: 7px;
    }
    
    .phone {
        display: block;
    }
    
    .contact:hover .contact-us {
        display: block;
    }
    
    .us:hover .menue-bar {
        display: block;
    }
    
    li a:hover {
        color: white;
    }
    
    .serch {
        float: right;
        width: 120px;
        margin-top: 20px;
        
    
    }
    
    .src {
        font-family: 'Times New Roman';
        width: 70px;
        height: 22px;
        background: transparent;
        border: 1px solid orange;
        margin-top: 0px;
        color: white;
        border-right: none; 
        font-size: 10px;
        padding: 2px;
        float: left;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    
    
    
    .boot {
        width: 37px;
        height: 21px;
        background: orange;
        border: 2px solid orange;
        margin-top: 0px;
        color: white;
        font-size: 8px;
        font-family: 'Times New Roman';
        border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .boot:focus {
        outline: none;
    }
    
    .src:focus {
        outline: none;
    }
    
    .content {
        width: 239px;
        color: wheat;
        padding: 10px 10px;
        padding-right: 158px;
        padding-left: -30px;
        margin-left: 0px;
        margin-top: 430px;
        background-color: black;
   
    }
    .under{
        margin-top: -80px;
       margin-left: 200px;
    }
    
    .content  ul li {
        font-size: 10px;
        list-style: none;
        line-height: 0px;
        margin-top: 20px;
        margin-left: 5px;
        color: wheat;
    } 
    
    
    .content h4 {
        font-size: 15px;
        font-family: 'Times New Roman';
        padding-left: 20px;
        letter-spacing: 1px;
        line-height: 23px;
      
    
    
    }
    
    .content h5 {
        font-size: 10px;
        margin-top: 0px;
        color: white;
        padding-left: 60px;
        line-height: 0px;
    }
   
    

    h1 {
        /* display: block; */
        color: orange;
        font-size: 20px;
        font-weight: bolder;
        margin-left: 210px;
        margin-top: -40px;
    
    }
    
    h2 {
    
        color: white;
        font-size: 20px;
        font-weight: bolder;
        margin-left: 320px;
        margin-top: -10px;
    
    }
    
    h3 {
        font-size: 13px;
        margin-left: 50px;
        padding-top: 14px;
        color: white;
    
    }
    
    .loggo {
        float: right;
        margin-right: 20px;
    
    
    }
    
    .heading {
    
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 30px;
        width:30px;
        justify-content: center;
        flex-direction: column;
        margin-left: 90px;
        margin-top: 319px;
        font-size: 50px;
    }
    
    .heading div:nth-last-of-type(2) div {
        display: inline-block;
    }
    
    .oGM {
        color: white;
        font-weight: 6px;
        margin-left: 64px;
       width: -40px;
    }
}